--
-- PostgreSQL database dump
--

\restrict vTj1htoqSQpdOamC0aKQYpHtuBU4ERcvBaziTrJJyDq7aSsgdRZb0EjwcUJ1Ppf

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bodegas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bodegas (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    ubicacion character varying(255)
);


ALTER TABLE public.bodegas OWNER TO postgres;

--
-- Name: bodegas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bodegas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bodegas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50)
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.customers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: databasechangelog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.databasechangelog (
    id character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    dateexecuted timestamp without time zone NOT NULL,
    orderexecuted integer NOT NULL,
    exectype character varying(10) NOT NULL,
    md5sum character varying(35),
    description character varying(255),
    comments character varying(255),
    tag character varying(255),
    liquibase character varying(20),
    contexts character varying(255),
    labels character varying(255),
    deployment_id character varying(10)
);


ALTER TABLE public.databasechangelog OWNER TO postgres;

--
-- Name: databasechangeloglock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.databasechangeloglock (
    id integer NOT NULL,
    locked boolean NOT NULL,
    lockgranted timestamp without time zone,
    lockedby character varying(255)
);


ALTER TABLE public.databasechangeloglock OWNER TO postgres;

--
-- Name: envios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.envios (
    id bigint NOT NULL,
    numero_guia character varying(100) NOT NULL,
    tipo_producto character varying(50) NOT NULL,
    cantidad integer NOT NULL,
    fecha_registro date NOT NULL,
    fecha_entrega date,
    precio_original numeric(10,2) NOT NULL,
    precio_final numeric(10,2) NOT NULL,
    estado character varying(50) NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.envios OWNER TO postgres;

--
-- Name: envios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.envios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.envios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: land_shipments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.land_shipments (
    shipment_id bigint NOT NULL,
    placa_vehiculo character varying(20) NOT NULL,
    bodega_id bigint NOT NULL
);


ALTER TABLE public.land_shipments OWNER TO postgres;

--
-- Name: puertos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.puertos (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    ubicacion character varying(255)
);


ALTER TABLE public.puertos OWNER TO postgres;

--
-- Name: puertos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.puertos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.puertos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sea_shipments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sea_shipments (
    shipment_id bigint NOT NULL,
    numero_flota character varying(50) NOT NULL,
    puerto_id bigint NOT NULL
);


ALTER TABLE public.sea_shipments OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bodegas bodegas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas
    ADD CONSTRAINT bodegas_pkey PRIMARY KEY (id);


--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: databasechangeloglock databasechangeloglock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.databasechangeloglock
    ADD CONSTRAINT databasechangeloglock_pkey PRIMARY KEY (id);


--
-- Name: envios envios_numero_guia_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envios
    ADD CONSTRAINT envios_numero_guia_key UNIQUE (numero_guia);


--
-- Name: envios envios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envios
    ADD CONSTRAINT envios_pkey PRIMARY KEY (id);


--
-- Name: land_shipments land_shipments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.land_shipments
    ADD CONSTRAINT land_shipments_pkey PRIMARY KEY (shipment_id);


--
-- Name: puertos puertos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.puertos
    ADD CONSTRAINT puertos_pkey PRIMARY KEY (id);


--
-- Name: sea_shipments sea_shipments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sea_shipments
    ADD CONSTRAINT sea_shipments_pkey PRIMARY KEY (shipment_id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: envios fk_envio_cliente; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.envios
    ADD CONSTRAINT fk_envio_cliente FOREIGN KEY (cliente_id) REFERENCES public.customers(id);


--
-- Name: land_shipments fk_land_bodega; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.land_shipments
    ADD CONSTRAINT fk_land_bodega FOREIGN KEY (bodega_id) REFERENCES public.bodegas(id);


--
-- Name: land_shipments fk_land_envio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.land_shipments
    ADD CONSTRAINT fk_land_envio FOREIGN KEY (shipment_id) REFERENCES public.envios(id);


--
-- Name: sea_shipments fk_sea_envio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sea_shipments
    ADD CONSTRAINT fk_sea_envio FOREIGN KEY (shipment_id) REFERENCES public.envios(id);


--
-- Name: sea_shipments fk_sea_puerto; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sea_shipments
    ADD CONSTRAINT fk_sea_puerto FOREIGN KEY (puerto_id) REFERENCES public.puertos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vTj1htoqSQpdOamC0aKQYpHtuBU4ERcvBaziTrJJyDq7aSsgdRZb0EjwcUJ1Ppf

